{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo List{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block styles %} {% endblock %}
    <style>
    </style>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark">
        <div>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/logo.svg' %}" alt=""></a>
   
            <nav>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% if user.foto_perfil %}/media/{{ user.foto_perfil }}{% else %}media/static/assets/profile-placeholder.png{% endif %}" alt="Foto de Perfil" class="rounded-circle profile-img">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Configurações</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Sair</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        {% if user.is_authenticated %}
        <aside>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Página Inicial</a></li>
                    <li><a href="#">Tarefas</a></li>
                    <li><a href="#">Equipes</a></li>
                </ul>
            </nav>
        </aside>
        {% endif %}
        <main class="mt-5 mb-5">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Centro de Soluções Aplicadas. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>