{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial - ToDo List{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="row">
    <div >
        {% if user.is_authenticated %}
            <h2>Equipes</h2>
            <div class="row">
                {% for equipe in equipes %}
                    <div class="equipe">
                        <div class="card">
                            <img src="{% if equipe.foto_capa %}media/{{ equipe.foto_capa }}{% else %} {% static 'assets/team_profile_placeholder.png' %}{% endif %}" class="capa-equipe" alt="">
                            <div class="card-body">
                                <div class="header-equipe">
                                    <img src="{% if equipe.foto_perfil %}media/{{ equipe.foto_perfil }}{% else %} {% static 'assets/team_profile_placeholder.png' %} {% endif %}" class="perfil-equipe" alt="">
                                    <a href="{% url 'equipe_detalhes' equipe.id %}"><h5 class="card-title">{{ equipe.nome }}</h5></a>                                    
                                </div>
                                <p class="card-text">{{ equipe.descricao|default:"Sem descrição disponível" }}</p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">Você ainda não pertence a nenhuma equipe.</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
