{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/auth.css' %}">{% endblock %}
{% block content %}
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email|default:'' }}">
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
            
            <button type="submit" class="btn">Entrar</button>
        </form>

        {% if messages %}
            <ul class="messages mt-3">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        
        <p class="text-center">Ou continue com:</p>
        <a href="{% url 'google_login' %}" class="google-btn"><img src="{% static 'assets/google-icon.svg' %}" class="google-icon">Login com Google</a>
        
        <p class="text-center">Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
    </div>
{% endblock %}